/******************** PUBLICATIONS DE L'UTILISATEUR ********************/

/********** Extra Small Devices **********/

.userPostsSection {
    background-color: #F1FCFC;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 4px 15px rgba(24, 30, 86, 0.25), 0 5px 5px rgba(24, 30, 86, 0.22);
    min-height: 88vh;
}

.userPostsSectionTitleAndCreate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userPostsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.userPost {
    border-radius: 5px;
    width: 90%;
    height: 50px;
    margin-bottom: 15px;
    padding: 5px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1px 6px rgba(24, 30, 86, 0.12), 0 1px 2px rgba(24, 30, 86, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-color: white;
}

.userPost:hover {
    box-shadow: 0 4px 15px rgba(24, 30, 86, 0.25), 0 5px 5px rgba(24, 30, 86, 0.22);
}

.userPostTitle {
    font-size: 0.8em;
}

.userPostChoices {
    display: none;
}

.userPostChoices {
    display: flex;
    color: #181E56;
}

.userPostChoicesAndInfos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userPostComsAndLikes {
    display: flex;
}

.userPostLikesBox {
    display: flex;
    align-items: center;
    box-shadow: 0 1px 3px rgba(24, 30, 86, 0.12), 0 1px 2px rgba(24, 30, 86, 0.24);
    border-radius: 15px;
    padding: 0 25px 0 5px;
    height: 20px;
    margin-left: 10px;
}

.userPostComsBox {
    display: flex;
    align-items: center;
    box-shadow: 0 1px 3px rgba(24, 30, 86, 0.12), 0 1px 2px rgba(24, 30, 86, 0.24);
    border-radius: 15px;
    padding: 0 25px 0 5px;
    height: 20px;
}

.comsIconUserPost, .likesIconUserPost, .dislikesIconUserPost {
    padding-right: 5px;
    font-size: 0.7em;
    color: #FFCAD4;
}

.iconStyleUserPost {
    font-family: 'Libre Baskerville', 'serif';
    font-size: 0.7em;
    color: #FFCAD4;
    margin: 0;
}

.dislikesIconUserPost {
    margin-left: 5px;
}

.userPostIcon:hover {
    cursor: pointer;
}

.seeUserPostIcon {
    margin-right: 40px;
    transform: scale(1);
    transition: all 0.4s linear;
}

.seeUserPostIcon:hover, .seeUserPostIcon:focus {
    transform: scale(1.2);
}

.deleteUserPostIcon {
    margin-right: 10px;
    transform: scale(1);
    transition: all 0.4s linear;
}

.deleteUserPostIcon:hover, .deleteUserPostIcon:focus {
    transform: scale(1.2);
}

.userPostsCreateNewPostButton {
    width: 190px;
    height: 40px;
    font-size: 0.8em;
    padding: 10px 15px;
    margin: 20px 40px;
}


/******************** MEDIA QUERIES ********************/

/********** Small Devices **********/

@media screen and (min-width: 480px) {

    .userPostsSection {
        min-height: 86vh;
    }
}

/********** Medium Devices **********/

@media screen and (min-width: 768px) {

    .userPostsSection {
        height: 79vh;
    }

    .userPost {
        flex-direction: row;
        align-items: center;
    }

    .userPostTitle {
        font-size: 1em;
        margin: 0;
    }

    .userPostComsAndLikes {
        margin-right: 40px;
    }

    .userPostsCreateNewPostButton {
        width: 210px;
        font-size: 0.9em;
    }

}

/********** Large Devices **********/

@media screen and (min-width: 1024px) {

    .userPostTitle {
        font-size: 1.2em;
    }

    .userPostComsAndLikes {
        margin-right: 70px;
    }

    .userPostLikesBox {
        height: 30px;
        padding: 0 30px 0 10px;
        margin-left: 30px;
    }

    .userPostComsBox {
        height: 30px;
        padding: 0 30px 0 10px;
    }

    .comsIconUserPost, .likesIconUserPost, .dislikesIconUserPost {
        font-size: 0.9em;
    }

    .iconStyleUserPost {
        font-size: 0.9em;
    }

    .userPostChoices {
        font-size: 1.2em;
    }

    .seeUserPostIcon {
        margin-right: 50px;
    }

    .userPostsCreateNewPostButton {
        width: 230px;
        font-size: 1em;
    }
}

/********** Extra Large Devices **********/

@media screen and (min-width: 1280px) {

    .mainUserPosts {
        display: flex;
    }

    .userPostsSection {
        width: 75vw;
        margin-right: 25vw;
        min-height: 84vh;
    }

    .userPostsList {
        justify-content: flex-start;
        margin-left: 50px;
    }

    .userPost {
        height: 60px;
        padding: 15px;
        margin-bottom: 20px;
    }

    .userPostTitle {
        font-size: 1.4em;
    }

    .userPostChoicesAndInfos {
        font-size: 1.2em;
    }

    .userPostsSectionTitleAndCreate {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .userPostsCreateNewPostButton {
        width: 270px;
        height: 50px;
        font-size: 1.2em;
        align-self: flex-start;
        margin: 20px 0 20px 50px;
    }
}

@media screen and (min-width: 1600px) {

    .userPostsSection {
        width: 75vw;
        min-height: 81vh;
        margin-right: 25vw;
    }
}

@media screen and (min-width: 1920px) {

    .userPostsSection {
        width: 80vw;
        margin-right: 20vw;
    }

    .userPostComsAndLikes {
        margin-right: 150px;
    }

    .userPostLikesBox {
        margin-left: 60px;
    }

    .userPostChoices {
        font-size: 1.4em;
    }

    .seeUserPostIcon {
        margin-right: 70px;
    }
}
