/******************** LOGO SPHERE ********************/

/********** Extra Small Devices **********/

.logoSphere {
    width: 35px;
    height: 35px;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}


/******************** MEDIA QUERIES ********************/

/********** Small Devices **********/

@media screen and (min-width: 480px) {

    .logoSphere {
        width: 55px;
        height: 55px;
    }
}

/********** Medium Devices **********/

@media screen and (min-width: 768px) {

    .logoSphere {
        width: 65px;
        height: 65px;
    }
}

/********** Large Devices **********/

@media screen and (min-width: 1024px) {

    .logoSphere {
        width: 75px;
        height: 75px;
    }
}

/********** Extra Large Devices **********/

@media screen and (min-width: 1280px) {

    .logoSphere {
        width: 70px;
        height: 70px;
    }

}

@media screen and (min-width: 1600px) {

    .logoSphere {
        width: 80px;
        height: 80px;
    }
}

@media screen and (min-width: 1920px) {
    .logoSphere {
        width: 90px;
        height: 90px;
    }
}
