/******************** BURGER MENU ********************/

/********** Extra Small Devices **********/

#sidebarMenu {
    position: fixed;
    left: 0;
    width: 50%;
    margin-top: 87px;
    transform: translateX(-50vw);
    transition: transform 250ms ease-in-out;
    background-image: radial-gradient(#2FC4D5, #07ADC1);
}

.sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    z-index: 1;
    position: relative;
}

.sidebarMenuInner li {
    list-style: none;
    color: #181E56;
    font-weight: bold;
    font-size: 0.8em;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    transform: scale(1);
    transition: all 0.4s linear;
}

.sidebarMenuInner li:hover, .sidebarMenuInner li:focus {
    transform: scale(1.1);
}

input[type=checkbox]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 15px;
    height: 22px;
    width: 22px;

}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: white;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

.menuSupport {
    font-size: 0.7em;
    padding-left: 15px;
}

.menuMail {
    font-size: 0.9em;
}

.menuMail:hover, .menuMail:focus {
    color: #D72C6C;
}


/******************** MEDIA QUERIES ********************/

/********** Small Devices **********/

@media screen and (min-width: 480px) {

    .spinner {
        width: 150%;
    }

    .horizontal {
        margin-top: 8px;
    }

    .diagonal.part-2 {
        margin-top: 8px;
    }

    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
        margin-top: 9px;
    }

    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
        margin-top: -14px;
    }

    #sidebarMenu {
        margin-top: 102px;
    }

    .sidebarIconToggle {
       top: 35%;
    }

    .sidebarMenuInner li {
        padding: 20px;
        font-size: 1.1em;
    }

    .menuSupport {
        font-size: 0.9em;
        padding-left: 20px;
    }
}

/********** Medium Devices **********/

@media screen and (min-width: 768px) {

    #sidebarMenu {
        margin-top: 96px;
    }

    .spinner {
        width: 170%;
    }

    .horizontal {
        margin-top: 10px;
    }

    .diagonal.part-2 {
        margin-top: 10px;
    }

    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
        margin-top: 9px;
    }

    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
        margin-top: -16px;
    }

    .sidebarIconToggle {
        top: 35%;
    }
}
