/******************** CONNEXION ********************/

/********** Extra Small Devices **********/

.sectionLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formLoginBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

.formTitleLogin {
    margin-bottom: 40px;
}

.formLoginFieldsList .field {
    margin-bottom: 30px;
}

.formButtonLogin {
    margin-top: 20px;
    height: 40px;
}

.formRegisterChoiceBox {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.formRegisterQuestion {
    margin: 0 0 15px;
}

.formRegisterLink {
    margin: 0;
}

/******************** MEDIA QUERIES ********************/

/********** Small Devices **********/

@media screen and (min-width: 480px) {

    .formLoginBox {
        height: 86vh;
    }
}

/********** Medium Devices **********/

@media screen and (min-width: 768px) {
    .formLoginBox {
        align-items: center;
    }

    .formTitleLogin {
        font-size: 3em;
    }

}

/********** Large Devices **********/

@media screen and (min-width: 1024px) {

    .formButtonLogin {
        height: 50px;
        font-size: 2em;
    }
}

/********** Extra Large Devices **********/

@media screen and (min-width: 1280px) {

    .mainLogin {
        display: flex;
        flex-direction: row;
    }

    .sectionLogin {
        width: 36vw;
        padding: 0 2vw;
    }

    .formTitleLogin {
        margin: 0 0 20px 0;
        font-size: 2.5em;
    }
}

@media screen and (min-width: 1440px) {

    .sectionLogin {
        width: 41vw;
    }

    .formLoginBox {
        height: 84vh;
    }

    .formTitleLogin {
        margin-bottom: 40px;
    }

    .formButtonLogin {
        margin-top: 40px;
    }

}

@media screen and (min-width: 1920px) {

    .formButtonLogin {
        height: 70px;
    }

    .formTitleLogin {
        font-size: 3em;
    }
}
