/******************** SIGN UP ********************/

/********** Extra Small Devices **********/

.sectionWallpaper {
    display: none;
}

.logoBox {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-image: radial-gradient(#2FC4D5, #07ADC1);
    box-shadow: 0 4px 3px rgba(24, 30, 86, 0.12), 0 1px 2px rgba(24, 30, 86, 0.24);
}

.logoNameBox, .logoSphereBox {
    position: absolute;
}

.sectionSignup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formSignupBox {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
}

.formTitleSignup {
    margin: 0 0 40px;
}

.formConnexionQuestion {
    margin-right: 10px;
}

.formConnexionLink {
    margin-left: 10px;
    color: #FFCAD4;
}

.formButtonSignup {
    margin-top: 20px;
    height: 40px;
}


/******************** MEDIA QUERIES ********************/

/********** Small Devices **********/

@media screen and (min-width: 480px) {


}

/********** Medium Devices **********/

@media screen and (min-width: 768px) {

    .logoBox {
        height: 14vh;
    }

    .formSignupBox {
        align-items: center;
        padding: 4vh 0;
        height: 78vh;
    }

    .formTitleSignup {
        font-size: 3em;
    }
}


/********** Large Devices **********/

@media screen and (min-width: 1024px) {

    .sectionSignup {
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }

   .logoBox {
       display: flex;
       align-items: center;
       justify-content: center;
   }

    .formSignupBox {
        margin-top: 30px;
        padding: 2vh 0;
        height: 78vh;
    }

    .formTitleSignup {
        margin-bottom: 20px;
    }

    .formButtonSignup {
        height: 45px;
        font-size: 2em;
    }

    .formConnexionChoiceBox {
        margin-top: 15px;
    }

    .formConnexionQuestion {
        margin: 0 10px 0 0;
    }

}


/********** Extra Large Devices **********/

@media screen and (min-width: 1280px) {

    .mainSignup {
        display: flex;
        flex-direction: row;
    }

    .sectionWallpaper {
        display: block;
        height: 100vh;
    }

    .socialImage {
        width: 60vw;
        height: 100vh;
    }

    .sectionSignup {
        width: 36vw;
        height: 100vh;
        padding: 0 2vw;
    }

    .logoBox {
        justify-content: flex-start;
        background-image: none;
        box-shadow: none;
        margin-right: 15px;
    }

    .formTitleSignup {
        font-size: 2.5em;
    }

    .formConnexionChoiceBox {
        font-size: 1.3em;
        margin-top: 30px;
    }

    .formConnexionLink {
        margin-left: 10px;
        color: #FFCAD4;
    }

    .formButtonSignup {
        margin-top: 30px;
        height: 50px;
    }
}

@media screen and (min-width: 1440px) {

    .sectionWallpaper {
        width: 55vw;
    }

    .socialImage {
        width: 55vw;
    }

    .sectionSignup {
        width: 41vw;
    }

    .logoBox {
        margin-right: 0;
        margin-left: 40px;
        margin-bottom: 10px;
    }

}

@media screen and (min-width: 1600px) {

    .logoBox {
        margin-left: 0;
    }

    .formSignupBox {
        margin-top: 15px;
    }

    .formTitleSignup {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1920px) {

    .formButtonSignup {
        height: 70px;
        margin-top: 15px;
    }

    .formTitleSignup {
        font-size: 3em;
    }

}
