/******************** ACCUEIL ********************/

/********** Extra Small Devices **********/

.postsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 88vh;
    margin: 0;
    width: 100vw;
    background-color: #F1FCFC;
    box-shadow: 5px 4px 15px rgba(24, 30, 86, 0.25), 0 5px 5px rgba(24, 30, 86, 0.22);
}

.postsList {
    display: flex;
    flex-wrap: wrap;
}

.post {
    border-radius: 5px;
    background-color: white;
    width: 270px;
    height: 200px;
    margin: 15px auto;
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5em;
    box-shadow: 0 1px 3px rgba(24, 30, 86, 0.12), 0 1px 2px rgba(24, 30, 86, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.post:hover {
    box-shadow: 0 14px 28px rgba(24, 30, 86, 0.25), 0 10px 10px rgba(24, 30, 86, 0.22);
}

.post:hover .seeMoreButton, .post:focus .seeMoreButton {
    display: block;
    width: 30vw;
    height: 20px;
    margin: 10px auto;
}

.seeMoreButton {
    display: none;
}

.postHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postAuthor {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.postAuthorName {
    padding-left: 3px;
    font-size: 0.8em;
    margin-top: 5px;
    margin-bottom: 0;
}

.postAuthorHome .avatarHome {
    border-radius: 50%;
    margin-top: 5px;
}

.postAuthorId {
    display: flex;
    font-size: 1em;
    padding-left: 3px;
    margin-top: 5px;
}

.postDate {
    font-family: 'Libre Baskerville', 'serif';
    font-size: 0.6em;
}

.postPreview {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.postPreviewContent {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 0.7em;
}

.postPreviewTitle {
    font-family: 'Libre Baskerville', serif;
    font-size: 0.9em;
}


.postFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    justify-self: flex-end;
    align-content: center;
}

.postComsBox, .postLikesBox {
    display: flex;
    align-items: center;
}

.comsIconHome, .likesIconHome, .dislikesIconHome {
    padding-right: 5px;
    font-size: 0.8em;
    color: darkgrey;
}

.iconStyleHome {
    font-family: 'Libre Baskerville', 'serif';
    font-size: 0.8em;
    color: darkgrey;
    margin: 0;
}

.postLikesBox {
    padding-right: 10px;
}

.postLikes {
    padding-right: 20px;
}


/******************** MEDIA QUERIES ********************/

/********** Small Devices **********/

@media screen and (min-width: 480px) {

    .postsBox {
       min-height: 86vh;
    }

    .post {
        width: 375px;
        height: 250px;
        margin: 10px auto 20px;
    }

    .postAuthorId {
        padding-left: 10px;
    }

    .postAuthorName {
        font-size: 1em;
    }

    .avatarHome {
        width: 30px;
        height: 30px;
    }

    .postDate {
        font-family: 'Libre Baskerville', 'serif';
        font-size: 0.7em;
    }

    .postPreview {
        font-size: 1.3em;
    }

    .post:hover .seeMoreButton, .post:focus .seeMoreButton {
        width: 20vw;
        height: 20px;
    }
}

/********** Medium Devices **********/

@media screen and (min-width: 768px) {

    .mainHome {
        display: flex;
    }

    .postsBox {
        min-height: 79vh;
    }

    .filterSmallDevices {
        width: 40%;
    }

    .postsList {
        justify-content: center;
    }

    .post {
        width: 320px;
        height: 250px;
        margin: 20px;
    }

    .post:hover .seeMoreButton, .post:focus .seeMoreButton {
        width: 13vw;
    }

    .avatarHome {
        width: 40px;
        height: 40px;
    }

    .postDate {
        font-size: 0.8em;
    }

    .postPreviewTitle {
        font-size: 0.7em;
    }

    .postPreviewContent {
        font-size: 0.6em;
    }
}

/********** Large Devices **********/

@media screen and (min-width: 1024px) {

    .post {
        width: 270px;
        height: 200px;
        margin: 25px 20px;
    }

    .post:hover .seeMoreButton, .post:focus .seeMoreButton {
        width: 10vw;
    }

    .postAuthorName {
        font-size: 0.9em;
    }
}

/********** Extra Large Devices **********/

@media screen and (min-width: 1280px) {

    .postsBox {
        width: 75vw;
        min-height: 84vh;
        margin-right: 25vw;
    }

    .postsList {
        justify-content: flex-start;
    }

    .post {
        width: 370px;
        height: 260px;
        margin: 25px 40px;
    }

    .post:hover .seeMoreButton, .post:hover .seeMoreButton {
        width: 8vw;
        height: 25px;
    }

    .postAuthorName {
        font-size: 0.9em;
    }

    .avatarHome {
        width: 40px;
        height: 40px;
    }

    .postAuthorId {
        font-size: 1.2em;
        padding-left: 7px;
    }

    .postDate {
        font-size: 0.9em;
    }

    .postPreviewTitle {
        font-size: 0.8em;
    }

    .postPreviewContent {
        font-size: 0.7em;
    }
}

@media screen and (min-width: 1440px) {

    .post {
        width: 400px;
        height: 260px;
    }

    .postAuthorName {
       margin-top: 10px;
    }

    .postAuthorHome .avatarHome {
       width: 50px;
       height: 50px;
        margin-top: 10px;
    }

    .postPreviewTitle {
        font-size: 1em;
    }
}

@media screen and (min-width: 1600px) {

    .postsBox {
        padding-left: 10px;
        min-height: 81vh;
    }

}

@media screen and (min-width: 1920px) {

    .postsBox {
        width: 80vw;
        margin-right: 20vw;
    }

    .post:hover .seeMoreButton, .post:focus .seeMoreButton {
        width: 6vw;
        height: 30px;
        font-size: 1em;
    }
}

