/******************** PROFIL UTILISATEUR ********************/

/********** Extra Small Devices **********/

.accountBloc {
    background-color: #F1FCFC;
    display: flex;
    flex-direction: column;
    height: 98vh;
}

.accountBoxInfos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    height: 79vh;
}

.accountInfosList {
    box-shadow: 0 14px 28px rgba(24, 30, 86, 0.25), 0 10px 10px rgba(24, 30, 86, 0.22);
    border-radius: 5px;
    background-color: white;
    width: 90%;
}

.accountField {
    display: flex;
    margin: 10px 10px 20px 10px;
}

.accountLabel {
    margin-bottom: 15px;
    font-size: 1em;
    font-family: 'Libre Baskerville', 'serif';
}

.accountInput {
    padding: 5px;
    font-size: 1em;
    color: #181E56;
}

.bigAvatar {
    display: none;
}

.accountAvatarField {
    display: flex;
    justify-content: space-between;
}

.accountSeparator {
    margin-bottom: 10px;
    margin-top: 0;
    width: 100%;
}

.accountAvatarInput {
    padding: 0;
    box-shadow: none;
}

.accountAvatar {
    width: 23vw;
    height: 23vw;
    margin-bottom: 10px;
}

.accountButtonsAndBigAvatar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accountButtons {
    display: flex;
    flex-direction: column;
}

.accountUpdateButton, .accountDeleteButton {
    height: 35px;
    width: 170px;
    padding: 5px;
    font-size: 0.9em;
    margin: 20px;
}


/******************** MEDIA QUERIES ********************/

/********** Small Devices **********/

@media screen and (min-width: 480px) {

    .accountBloc {

    }

    .accountBoxInfos {
        height: 76vh;
    }

    .accountInfosList {
        width: 90vw;
    }
    .accountAvatarField {
        flex-direction: row;
        align-items: center;
    }

    .accountSeparator {
        margin-bottom: 20px;
    }

    .accountAvatar {
        width: 20vw;
        height: 20vw;
        margin-bottom: 0;
    }

    .accountUpdateButton, .accountDeleteButton {
        height: 35px;
        padding: 5px 10px;
        width: 170px;
    }
}

/********** Medium Devices **********/

@media screen and (min-width: 768px) {

    .accountBloc {
        height: 85vh;
    }

    .accountInfosList {
        width: 80vw;
    }

    .accountAvatarField {
        justify-content: inherit;
    }

    .accountAvatar {
        width: 7vw;
        height: 7vw;
        margin-right: 20px;
    }

    .accountButtonsAndBigAvatar {
        align-items: center;
        height: 25%;
        margin-top: 10px;
    }

    .accountButtons {
        flex-direction: row;
    }

    .accountUpdateButton, .accountDeleteButton {
       margin-left: 40px;
       margin-right: 40px;
    }
}

/********** Large Devices **********/

@media screen and (min-width: 1024px) {

    .accountBloc {
        height: 79vh;
    }

    .accountBoxInfos {
        flex-direction: row;
        align-items: inherit;
        justify-content: space-around;
        height: 100%;
        margin: 30px 15px 0;
    }

    .accountInfosList {
        height: 60vh;
        margin-bottom: 0;
    }

    .accountField {
        margin-bottom: 30px;
    }

    .accountAvatar {
        width: 8vw;
        height: 8vw;
    }

    .accountButtonsAndBigAvatar {
        display: flex;
        flex-direction: column;
        height: 60vh;
        margin: 0;
    }

    .bigAvatar {
        display: block;
        width: 40vh;
        height: 40vh;
        align-self: center;
        margin: 50px 0;
        border-radius: 50%;
    }

    .accountButtons {
        margin: 0;
    }

    .accountUpdateButton, .accountDeleteButton {
        margin: 0 15px;
        width: 180px;
        font-size: 1em;
    }
}

/********** ExtraLarge Devices **********/

@media screen and (min-width: 1280px) {

    .mainAccount {
        display: flex;
    }

    .accountBloc {
        width: 75vw;
        height: 84vh;
        margin-right: 25vw;
        box-shadow: 5px 4px 15px rgba(24, 30, 86, 0.25), 0 5px 5px rgba(24, 30, 86, 0.22);
    }

    .accountBoxInfos {
        margin: 20px 0 0;
        padding-left: 50px;
        justify-content: normal;
    }

    .accountAvatar {
        width: 7vw;
        height: 7vw;
    }

    .bigAvatar {
        margin-top: 60px;
    }
}

@media screen and (min-width: 1440px) {

    .accountBoxInfos {
        height: 100vh;
        justify-content: space-between ;
    }

    .accountInfosList {
        height: 68vh;
    }

    .accountLabel {
        font-size: 1.3em;
    }

    .accountInput {
        font-size: 1.3em;
    }

    .accountField {
        margin-bottom: 40px;
    }

    .accountButtons {
        margin: 0;
    }

    .accountUpdateButton, .accountDeleteButton {
        font-size: 1em;
        width: 200px;
    }
}

@media screen and (min-width: 1600px) {

    .accountInfosList {
        height: 65vh;
        width: 60%;
    }

    .accountBloc {
        width: 75vw;
        margin-right: 25vw;
        height: 81vh;
    }

    .accountField {
        margin-bottom: 30px;
    }

    .accountSeparator {
        margin-bottom: 20px;
    }

    .accountButtonsAndBigAvatar {
        width: 40%;
    }

    .accountButtons {
        justify-content: space-around;
        width: 100%;
    }

    .accountUpdateButton, .accountDeleteButton {
        margin: 0;
    }
}

@media screen and (min-width: 1920px) {

    .accountBloc {
        width: 80vw;
        margin-right: 20vw;
    }

    .accountBoxInfos {
        justify-content: inherit;
    }

    .accountInfosList {
        height: 60vh;
    }

    .accountField {
        margin: 20px;
    }

    .accountLabel {
        margin-bottom: 15px;
        font-size: 1.5em;
    }

    .accountInput {
        padding: 10px;
        font-size: 1.5em;
    }

    .accountUpdateButton, .accountDeleteButton {
        font-size: 1.2em;
        width: 220px;
        margin: 0 25px;
    }

    .accountAvatar {
        width: 5vw;
        height: 5vw;
    }
}
