/******************** GENERAL ********************/

/********** Extra Small Devices **********/

/******************** BODY ********************/
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #181E56;
}

aside {
    display: none;
}

/*************** headings ***************/
h1 {
    font-weight: normal;
    text-shadow: 2px 2px 4px;
    padding-left: 0;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    line-height: 1.5;
    margin: 0 0 10px;
}

/*************** lists ***************/
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*************** buttons ***************/
button {
    border-radius: 50px;
    font-family: 'Montserrat', serif;
    border-style: none;
    background-color: #FFCAD4;
    color: #181E56;
    box-shadow: 0 4px 3px rgba(24, 30, 86, 0.12), 0 1px 2px rgba(24, 30, 86, 0.24);
}

button:hover, .button:focus {
    animation: hoverButton 1s linear infinite alternate;
    outline: none;
    cursor: pointer;
}

@keyframes hoverButton {
    from {
        box-shadow: 0 0 5px #62B3E2
    }
    to {
        box-shadow: 0 0 15px #0F1F71
    }
}

/*************** links ***************/
a {
    text-decoration: none;
}

a:hover, a:focus {
    outline: none;
}

.filterSmallDevices {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.filter {
    margin: 0;
}

.filterTitleSmallDevices {
    font-size: 0.8em;
}

.filterOptionsSmallDevices {
    font-size: 0.7em;
    padding: 5px;
}

/*************** form ***************/

.formTitle {
    font-size: 2em;
    font-weight: bold;
    text-shadow: none;
    color: #FFCAD4;
    padding-left: 0;
}

.formInput {
    height: 40px;
    font-size: 1.2em;
    letter-spacing: 2px;
    padding-left: 15px;
    margin-bottom: 15px;
    border-radius: 50px;
    border: solid 1px #D5D5D5;
    color: #181E56;
}

.formInput::placeholder {
    color: #E5E5E5;
    font-size: 0.7em;
    font-style: italic;
}

.formInput:focus-visible {
    border: none;
}

.formLabel {
    font-size: 1.2em;
    margin-bottom: 15px;
    padding-left: 15px;
}

.field {
    display: flex;
    flex-direction: column;
}

.formButton {
    width: 100%;
    height: 35px;
    font-size: 1.4em;
}

.formChoiceBox {
    display: flex;
}

.formChoiceBox {
    font-size: 1.2em;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

.formRegisterQuestion {
    margin-right: 15px;
}

.formLink {
    margin-left: 10px;
    color: #FFCAD4;
    transform: scale(1);
    transition: all 0.4s linear;
}

.formLink:hover, .formLink:focus {
    color: #F37EA2;
    transform: scale(1.2);
    outline: none;
}

span.error {
    color: #D72C6C;
    margin-left: 20px;
}


/******************** MEDIA QUERIES ********************/

/********** Small Devices **********/

@media screen and (min-width: 480px) {

    h1 {
        font-size: 2em;
    }
}

/********** Medium Devices **********/

@media screen and (min-width: 768px) {

    h2 {
        font-size: 1.2em;
    }

    .formInput {
        width: 60vw;
        font-size: 1.2em;
        letter-spacing: 2px;
        padding-left: 15px;
        margin-bottom: 15px;
        border-radius: 50px;
        border: solid 1px #D5D5D5;
        color: #181E56;
    }

    .formInput::placeholder {
        color: #E5E5E5;
        font-size: 0.6em;
        font-style: italic;
    }
}

@media screen and (min-width: 1024px) {

    .filter {
        margin-bottom: 65px;
        margin-top: 30px;
    }

    .filterTitleSmallDevices {
        font-size: 1em;
        font-weight: bold;
    }

    .filterOptionsSmallDevices {
        font-size: 0.9em;
    }

    h2 {
        font-size: 1.4em;
    }

    .formBox {
        padding-left: 10px;
    }

    .formChoiceBox {
        font-size: 1.5em;
        margin-top: 20px;
    }

    .formButton {
        height: 80px;
        font-size: 2.5em;
    }

    .formInput::placeholder {
        font-size: 0.7em;
    }

    .formInput {
        height: 60px;
        font-size: 1.7em;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .formTitle {
        font-size: 3.5em;
    }
}

/********** Extra Large Devices **********/

@media screen and (min-width: 1280px) {

    h1 {
        font-size: 3em;
        margin-bottom: 20px;
        padding-left: 50px;
        align-self: flex-start;
    }

    h2 {
        font-size: 2em;
    }

    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25vw;
        height: 84vh;
        position: fixed;
        right: 0;
    }

    .asideNoFilter {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .filterSmallDevices {
        display: none;
    }

    .filter {
        margin: 40px 0 140px;
        text-align: center;
    }

    .filterTitle {
        font-weight: bold;
        font-size: 1em;
    }

    .separator {
        margin-bottom: 20px;
        width: 60%;
    }

    .filterOptions {
        padding: 10px;
        font-family: 'Libre Baskerville', serif;
        box-shadow: 0 1px 3px rgba(24, 30, 86, 0.12), 0 1px 4px rgba(24, 30, 86, 0.24);
        border-radius: 3px;
        border: none;
    }

    .support {
        text-align: center;
    }

    .supportTitle {
        font-size: 1em;
        font-weight: bold;
        color: #181E56;
    }

    .contact {
        margin-bottom: 170px;
    }

    .contactAddress {
        line-height: 2;
    }

    .mail {
        color: #181E56;
    }

    .mail:hover, .mail:focus {
        color: #2BC1D3;
        outline: none;
    }

    .termsButton {
        font-size: 1em;
        padding: 10px 15px;
    }

    .formLabel {
        padding-left: 20px;
    }

    .formInput {
        width: 35vw;
        height: 50px;
        font-size: 1.7em;
        padding-left: 20px;
        margin-bottom: 15px;
    }

    .formButton {
        font-size: 1.7em;
    }
}

@media screen and (min-width: 1600px) {

    .asideNoFilter {
        width: 25vw;
    }
}

@media screen and (min-width: 1920px) {

    aside {
        width: 20vw;
    }

    .asideNoFilter {
        width: 20vw;
    }

    h1 {
        font-size: 4em;
    }

    .formInput {
        height: 60px;
        font-size: 1.7em;
        margin-bottom: 20px;
    }

    .formLabel {
        font-size: 1.5em;
    }


    .formChoiceBox {
        font-size: 1.5em;
    }
}

