/******************** HEADER ********************/

/********** Extra Small Devices **********/

header {
    display: flex;
    position: sticky;
    top: 0;
    background-image: radial-gradient(#2FC4D5, #07ADC1);
    flex-direction: column;
    padding: 1vh;
    height: 10vh;
}

.headerLogo .logoName {
    display: block;
}

.headerLogo .logoSphere {
    display: block;
}

.headerLogo {
    display: flex;
    align-items: center;
}

.burgerMenu {
    display: block;
}

.navBar {
    display: none;
}

.menuChoice {
    font-size: 0.6em;
}

.menuChoiceLink:hover, .menuTitle:hover {
    cursor: pointer;
}

.headerAvatar {
    display: none;
}

.headerAvatarSmallDevices {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    align-self: flex-end;
    margin: auto 0;
}


/******************** MEDIA QUERIES ********************/

/********** Small Devices **********/

@media screen and (min-width: 480px) {

    header {
        height: 12vh;
        justify-content: center;
    }

    .headerAvatar {
        display: none;
    }

    .headerAvatarSmallDevices {
        width: 45px;
        height: 45px;
    }
}


/********** Medium Devices **********/

@media screen and (min-width: 768px) {

    header {
        height: 10vh;
        align-items: initial;
        flex-direction: row;
        justify-content: space-between;
        padding: 2vh;
    }

    .headerAvatar {
        display: block;
        width: 45px;
        height: 45px;
        border-radius: 5px;
    }

    .headerAvatarSmallDevices {
        display: none;
    }

    .navBar {
        display: flex;
        justify-content: stretch;
        width: 70%;
        margin: 0;
    }

    .menuTitle:hover, .menuTitle:focus {
        font-weight: bold;
    }

    .menuChoice {
        width: 200px;
        font-size: 1.2em;
        text-align: center;
    }

    .menuChoiceLink {
        margin-top: 10px;
        font-size: 0.7em;
    }

    .menuChoiceLink:hover, .menuChoiceLink:focus {
        font-weight: bold;
    }

    .menuChoiceAccount {
        margin-right: 20px;
    }
}

/********** Large Devices **********/

@media screen and (min-width: 1024px) {

    .headerAvatar {
        width: 60px;
        height: 60px;
    }
}

/********** Extra Large Devices **********/

@media screen and (min-width: 1280px) {

    header {
        height: 12vh;
    }

    .menuChoice {
        width: 300px;
        font-size: 1.7em;
    }
}

@media screen and (min-width: 1600px) {

    header {
        height: 15vh;
    }

    .navBar {
        justify-content: flex-end;
    }

    .menuChoice {
        font-size: 1.8em;
    }

    .menuChoiceLink {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 1920px) {

    .menuChoice {
        width: 300px;
        font-size: 1.9em;
    }

    .headerAvatar {
        width: 70px;
        height: 70px;
    }
}
