/******************** ARTICLE INDIVIDUEL ********************/

/********** Extra Small Devices **********/

.fullPostBox {
    display: flex;
    flex-direction: column;
    min-height: 88vh;
    justify-content: space-between;
}

.fullPostTitle {
    font-size: 1.2em;
    margin-top: 10px;
}

.fullPostBoxContent {
    padding: 10px;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fullPostIntro {
    display: flex;
    flex-direction: column-reverse;
}

.fullPostHeaderPost {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fullPostAuthor {
    display: flex;
    align-items: center;
}

.fullPostAuthorId {
    font-family: 'Libre Baskerville', 'serif';
    font-size: 1.1em;
    margin: 0;
}

.fullPostAuthorAvatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.fullPostSeparator {
    background-color: #BFC9D6;
    border: none;
    height: 1px;
}

.fullPostComsLikes {
    display: none;
}

.fullPostComsLikesSmallDevices {
    display: flex;
    justify-content: flex-end;
}

.comsIconPost, .likesIconPost, .dislikesIconPost {
    padding-right: 3px;
    font-size: 0.7em;
    color: #FFCAD4;
}

.likesIconPost:hover, .dislikesIconPost:hover,
.likesIconPost:focus, .dislikesIconPost:focus {
    animation: hoverIcon 1s linear infinite alternate;
    color: #D72C6C;
    outline: none;
}

@keyframes hoverIcon {
    from {
        transform: scale(1);
        color: #FFCAD4;
    }
    to {
        transform: scale(1.2);
        color: #D72C6C;
    }
}

.iconStylePost {
    font-family: 'Libre Baskerville', 'serif';
    font-size: 0.7em;
    color: #FFCAD4;
    margin: 0;
    padding-right: 10px;
}

.fullPostTotalComsBox {
    display: flex;
    align-items: center;
    box-shadow: 0 1px 3px rgba(24, 30, 86, 0.12), 0 1px 2px rgba(24, 30, 86, 0.24);
    border-radius: 15px;
    padding: 0 15px 0 10px;
    margin-right: 20px;
    height: 20px;
}

.fullPostLikesBox {
    display: flex;
    align-items: center;
    padding: 0 15px 0 10px;
    box-shadow: 0 1px 3px rgba(24, 30, 86, 0.12), 0 1px 2px rgba(24, 30, 86, 0.24);
    border-radius: 15px;
    height: 20px;
}

.postLikes {
    padding-right: 25px;
}

.fullPostContent {
    line-height: 2em;
    margin-bottom: 20px;
}

.fullPostBoxComs {
    background-color: #F1FCFC;
    padding: 10px;
}

.fullPostComment {
    display: flex;
    flex-direction: column;
}

.editorCom {
    margin-bottom: 10px;
}

.tox-tbtn:hover, .tox-tbtn:focus {
    animation: none;
}

.fullPostCommentButton {
    height: 30px;
    font-size: 0.8em;
    width: 100px;
    align-self: flex-end;
}

.com {
    border-radius: 10px;
    box-shadow: 5px 4px 15px rgba(24, 30, 86, 0.25), 0 5px 5px rgba(24, 30, 86, 0.22);
    margin: 10px 0;
    padding: 5px;
    background-color: white;
}

.comHeader {
    display: flex;
    justify-content: space-between;
}

.comAuthor {
    display: flex;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 10px;
}

.comAvatar {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.comAuthorId {
    padding: 0 9px;
    margin: 0;
}

.fullPostDeleteIcon {
    font-size: 1.1em;
    margin-right: 5px;
    transform: scale(1);
    transition: all 0.4s linear;
}

.fullPostDeleteIcon:hover, .fullPostDeleteIcon:focus {
    transform: scale(1.2);
}

.comContent {
    font-size: 0.9em;
    line-height: 1.5em;
    margin-left: 35px;
}


/******************** MEDIA QUERIES ********************/

/********** Small Devices **********/

@media screen and (min-width: 480px) {

    .fullPostBox {
        min-height: 86vh;
    }

    .fullPostBoxContent {
        min-height: 63vh;
    }

    .fullPostAuthorId {
        font-size: 1.2em;
    }

    .fullPostTitle {
        font-size: 1.4em;
    }
}

/********** Medium Devices **********/

@media screen and (min-width: 768px) {

    .fullPostBox {
        min-height: 79vh;
    }

    .fullPostBoxContent {
        min-height: 56vh;
    }

    .fullPostTotalComsBox, .fullPostLikesBox {
        height: 25px;
        padding-right: 20px;
    }

    .comsIconPost, .likesIconPost, .dislikesIconPost, .iconStylePost {
        font-size: 0.9em;
    }

    .comAuthorId {
        font-size: 1.1em;
    }
}

/********** Large Devices **********/

@media screen and (min-width: 1024px) {

    .fullPostBoxContent {
        padding: 10px 15px;
    }

    .fullPostContent {
        font-size: 1.2em;
    }

    .fullPostAuthorId {
        font-size: 1.3em;
    }

    .fullPostAuthorAvatar {
        width: 40px;
        height: 40px;
    }

    .fullPostTitle {
        font-size: 1.5em;
    }

    .comAvatar {
        width: 30px;
        height: 30px;
    }

    .comAuthorId {
        font-size: 1.2em;
    }

    .fullPostDeleteIcon {
        font-size: 1.3em;
    }

    .comContent {
        font-size: 1em;
        margin-left: 40px;
    }
}

/********** Extra Large Devices **********/

@media screen and (min-width: 1280px) {

    .fullPostBox {
        max-width: 78vw;
        padding: 0;
        margin-left: 22vw;
        min-height: 100vh;
    }

    .fullPostBoxContent {
        box-shadow: none;
        padding: 20px 20px 15px 20px;
        min-height: 72vh;
    }

    .fullPostIntro {
        margin: 0;
    }

    .fullPostAuthor {
        align-items: center;
    }

    .fullPostAuthorAvatar {
        height: 40px;
        margin-right: 15px;
    }

    .fullPostTitle {
        font-size: 1.6em;
    }

    .fullPostBoxComs {
        background-color: #F1FCFC;
        padding: 20px;
    }

    .com {
        border-radius: 10px;
        box-shadow: 5px 4px 15px rgba(24, 30, 86, 0.25), 0 5px 5px rgba(24, 30, 86, 0.22);
        margin: 10px 0;
        padding: 5px;
        background-color: white;
    }

    .comAuthor {
        display: flex;
        align-items: center;
        font-family: 'Libre Baskerville', serif;
        margin-bottom: 10px;
    }

    .comAvatar {
        border-radius: 50%;
        width: 35px;
        height: 35px;
    }

    .comAuthorId {
        padding: 0 10px;
        margin: 0;
    }

    .comContent {
        line-height: 1.5em;
        margin-left: 45px;
    }

    .tox-tbtn:hover, .tox-tbtn:focus {
        animation: none;
    }

    .fullPostCommentButton {
        height: 35px;
        font-size: 1em;
        width: 150px;
    }

    .com {
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(24, 30, 86, 0.12), 0 1px 2px rgba(24, 30, 86, 0.24);
        padding: 10px;
        background-color: white;
        margin: 20px 0 0;
    }

    .comAuthor {
        display: flex;
        align-items: center;
        font-family: 'Libre Baskerville', serif;
    }
}

@media screen and (min-width: 1440px) {

    .fullPostTitle {
        font-size: 1.8em;
    }

    .fullPostBoxContent {
        min-height: 70vh;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 1920px) {

    .fullPostBoxContent {
        min-height: 77vh;
    }
}


